@import '../../partials/colors';

.about{
    background-color: $primary-normal;
    overflow: hidden;
    color: $white-normal;

    .about__content{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 14px;
        padding: 34px 14px 64px 14px;

        img{
            max-width: 570px;
            
        }
    }

    .about__content div{
        flex: 1;
    }

    .about__description{
        h2{
            font-size: 38px;
            margin-bottom: 24px;
        }
        p{
            margin-bottom: 14px;
            line-height: 150%;
        }
    }
}

@media screen and (max-width: 768px){
    .about__content{
        flex-direction: column;
    }
}